<h1>Welcome!</h1>
<h2>
  As you can see in the page footer, this application is a response to <%= link_to "http://li.mk/o", 'http://li.mk/o' %> 
  and licensed under <%= link_to "WTFPL", "http://sam.zoy.org/wtfpl/COPYING" %>
</h2>
